public/index.html
<html lang="en-US"><head><title>nt-p</title><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/><link href="css/style.css" rel="stylesheet" type="text/css" defer="defer"/><link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" defer="defer"/><noscript>Use Javascript you dumbass ┻━┻ ︵ヽ(`Д´)ﾉ︵﻿ ┻━┻</noscript></head><body class="hcenter background" onload="javascript:init()"><div class="container"><div class="row"><div class="col-sm-12"><h1 class="title">nt-p</h1></div></div><div class="row"><div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2"><div id="search_container"><input id="search_bar" type="text" tabindex="1" autofocus="autofocus" placeholder="┻━┻ ︵ヽ(`Д´)ﾉ︵﻿ ┻━┻" onkeydown="javascript:handleQuery(event,this.value);"/></div></div></div><div class="row"><div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2" id="nav-parent"></div></div><div class="row"><div class="col"><p class="quote" id="quote"></p></div></div><div class="footer"><small>Start Page by <a href="https://gitlab.com/JulianElda">JulianElda</a></small></div><script src="js/Dropbox-sdk.min.js" defer="defer" inline=""></script><script src="js/script.js" defer="defer" inline=""></script></div></body></html>

src/index.pug
html(lang='en-US')
  head
    title nt-p
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='css/style.css', rel='stylesheet', type='text/css', defer='defer')
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css', defer='defer')
    noscript Use Javascript you dumbass ┻━┻ ︵ヽ(`Д´)ﾉ︵﻿ ┻━┻
  
  body.hcenter.background(onload='javascript:init()')

    div.container

      div.row
        div.col-sm-12
          h1.title nt-p

      div.row
        div.col-sm-12.col-md-10.col-lg-8.col-md-offset-1.col-lg-offset-2
          div#search_container
            input#search_bar(type='text', tabindex='1', 
              autofocus,
              placeholder='┻━┻ ︵ヽ(`Д´)ﾉ︵﻿ ┻━┻',
              onkeydown='javascript:handleQuery(event,this.value);')

      div.row
        div#nav-parent.col-sm-12.col-md-10.col-lg-8.col-md-offset-1.col-lg-offset-2

      div.row: div.col
        p#quote.quote

      div.footer
        small
          | Start Page by 
          a(href='https://gitlab.com/JulianElda') JulianElda
      
      script(src='js/Dropbox-sdk.min.js', defer='defer', inline='')
      script(src='js/script.js', defer='defer', inline='')
